<h1>angularx-qrcode demo implementation</h1>

<qrcode [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode>

<br>

<div class="text">
  <label>
    Type to change: <input [(ngModel)]="qrdata" placeholder="name">
  </label>
  <br>
  <br>
  <button (click)="changeValue('Bruce')">Change Value to Bruce</button>
  <button (click)="changeValue('Peter Parker')">Change Value to Peter Parker</button>
  <button (click)="changeValue('42')">Change Value to 42</button>
</div>

<h2>Here are some links to get you started with angularx-qrcode:</h2>

<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/Cordobo/angularx-qrcode">Github: angularx-qrcode</a>
    </h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/Cordobo/angularx-qrcode-sample-app">Github: this demo
        app</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener"
        href="http://cordobo.com/2444-angular4-qrcode-generator-component/">Tutorial</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.npmjs.com/package/angularx-qrcode">NPM</a></h2>
  </li>
</ul>